:root {
    --main-color: #161b21;
    --secondary-color: #1d232c;
    --accent-color: #0074D9;
}

body, html {
    margin: 0;
    padding: 0px 10px 0px 10px;
    font-family: Roboto, sans-serif;
    background-color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    color: #f3f3f3;
}

.app-header {
    text-align: center;
}

.tab {
    background-color: var(--accent-color);
    padding: 10px;
    font-weight: bold;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
    padding: 45px 0px 15px 0px;
}

.table {
    padding: 30px;
    width: 100%;
}

#table1 {
    background-color: var(--secondary-color);
}

#table2 {
    background-color: var(--secondary-color);

}

.time-plots-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
    padding: 30px 0px 30px 0px;
}

.test-div {
}

.time-plot {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

.time-plot-title {
    text-align: left;
    padding-left: 30px;
}

#time-plot1 {
    background-color: var(--secondary-color);
}

#time-plot2 {
    background-color: var(--secondary-color);
}

.stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
}

.stats-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 100px;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 100px 100px;
}

.stat-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat-title {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
}
.stat-text {
    width: 100%;
    font-size: 30px;
    /* font-weight: bold; */
}

.dash-graph {
    width: 90%; /* tak o bo inaczej przy powiększaniu strony się rozjeżdża w chuj */
}