:root {
    --main-color: #161b21;
    --secondary-color: #1d232c;
    --accent-color: #0074D9;
}

.tab-2-first-row {
    padding: 45px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
}

.select-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.select-muscle {
    display: flex;
    flex-direction: column;
}

.date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyweight-plot-title {
    text-align: left;
    padding-left: 30px;

}

.bodyweight-plot-container {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}